PREFIX=,
SESSION_ID=Gifted~nmpFhbqR#RcxOXP7c65ns_iIcKtoWXwDvT_8NgJ2kIAsZQ7KQVvI
BOT_NAME=𝐆𝐈𝐅𝐓𝐄𝐃-𝐌𝐃
BOT_PIC=https://files.giftedtech.my.id/file/gifted-md.jpg
AUTO_READ_STATUS=true
AUTOLIKE_STATUS=true
AUTOLIKE_EMOJI=💜
AUTO_REPLY_STATUS=false
STATUS_REPLY_MSG=✅️ Status Viewed by Hassnain!
ANTICALL=false
ANTICALL_MSG=*_📞 Auto Call Reject Mode Activated by Gifted-Md. 📵 No Calls Allowed Dude!_*
MODE=public
WELCOME=false
GOODBYE=false
AUTO_READ_MESSAGES=false
PRESENCE=online
OWNER_NAME=Hassnain Farooq
OWNER_NUMBER=03097580232
SUDO_NUMBERS=03097580232
AUTO_AUDIO=false
AUTO_BLOCK=212,98,77
AUTO_REACT=ture
TIME_ZONE=Africa/Nairobi
